<div class="container">


<section class="depot_forms mt-5">
    <h1 class="book-title">Please Enter Your Details</h1>
    <%= render "form", order: @order %>
    <%= link_to "<< Back", root_path %>
 </section>


</div>