<p id="notice"><%= notice %></p>

<!-- <%= image_tag "Empty_Cart.png" %> -->
<div class="fa-icon">
<i class='fa fa-shopping-cart'></i>
</div>
<div class="empty">
<h2>Your Shopping Cart is Empty</h2>
<h5>You can browse <%= link_to "BookStore", root_path %></h5>
</div>